ion-title {
    font-size: 15px;
    font-weight: 700;
}

.bg-image {
    --background: url('../../../assets/img/background-of-gradient-lights.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 20px;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
}

.items {
    color: #fff;
}

.items ion-label {
    font-size: 18px;
    color: #fff;
}

.boton {
    margin: 10px;
    padding-bottom: 5px;
}

.example-full-width {
    width: 100%;
    background: none;
}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10px;
  }