<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: #000;"></ion-back-button>
    </ion-buttons>
    <ion-title>TecnoCelular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image">
  <h1>Sobre nosotros</h1>

  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4">
        <img src="/assets/img/logo.png" alt="No hay imagen">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">
        <div class="items">
          <ion-label>TecnoCelular es una empresa que se dedica a la venta de celulares. disponemos de una gran variedad de celulares. Nuestros precios son los mejores del mercado.</ion-label>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
