<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: #000;"></ion-back-button>
    </ion-buttons>
    <ion-title>TecnoCelular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image">
  <h1>Listado de marcas</h1>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">
        <div class="items">
          <ion-list>
            <ion-item-sliding *ngFor="let x of listaMarca">
              <ion-item>
                <h3>{{x.marca | uppercase}}</h3>
              </ion-item>

              <ion-item-options>
                <ion-item-option color="success" (click)="modificarDatos(x)">Modificar</ion-item-option>
                <ion-item-option color="danger" (click)="eliminar(x)">Eliminar</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

          </ion-list>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>